.nidirect-footer {
    background-color: govuk-colour("light-grey"); //fix to match footer bg colour with govuk template bg colour
    height: auto;
    margin-top: 0;
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(5, "bottom");
    border-top: 1px solid $nidirect-mid-grey;
    @include govuk-font($size: 16);
}

.nidirect-footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        @include govuk-responsive-padding(2, "right");
        @include govuk-responsive-margin(2, "right");
        @include govuk-responsive-margin(3, "bottom");
        border-right-width: 0;
        border-right-style: none;
        @include govuk-media-query($from: tablet) {
            display: inline-block;
        border-right: 1px solid $nidirect-dark-grey;
        }  
    }
    li:last-child {
        padding-right: 0;
        margin-right: 0;
        border-right-width: 0;
        border-right-style: none;
    }
}
